#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh
}

#container {
    display:flex; 
    flex-direction: row;
    padding-top: 21px;
    justify-content: center;
    gap: 3rem;
}

#output {
    width: 50%;
    padding: 15px;
    text-align: left;
}

#run_button {
    margin-left: 4%;
    height: 20%;
}